In [139]:
import pandas as pd
import sqlite3

In [140]:
x=('https://www.screener.in/market/')
df=pd.read_html(x)
type(df)

list

In [141]:
df

[    S.No.                      Industry No. of Companies Total Market Cap.  \
 0      1.                  2/3 Wheelers               11            645407
 1      2.          Abrasives & Bearings                8             91101
 2      3.  Advertising & Media Agencies               18              4792
 3      4.           Aerospace & Defense               25            820804
 4      5.                       Airline                4            237077
 ..    ...                           ...              ...               ...
 198  187.              Waste Management               14             11368
 199  188.     Water Supply & Management                7             24550
 200  189.   Web based media and service                3              1315
 201  190.                      Wellness                2               789
 202  191.                          Zinc                2            184090

     Avg Market Cap. Median P/E Avg Sales Growth Avg OPM Avg ROCE 1Y Return
 0             58673         26               6%    -10%      11%      -19%
 1             11388         57               4%     14%      15%      -26%
 2               266         23             148%      5%      11%      -17%
 3             32832         73              36%     21%      19%       11%
 4             59269         32               0%     14%      18%        8%
 ..              ...        ...              ...     ...      ...       ...
 198             812         26              39%     22%      22%       -1%
 199            3507         29              11%     20%      23%      -22%
 200             438         29              43%     16%      28%      -30%
 201             395          7              10%      3%      -6%      -22%
 202           92045         36              23%     36%      42%      -36%

 [203 rows x 10 columns]]

In [142]:
len(df)

1

In [143]:
tables = pd.read_html('https://www.screener.in/market/')
print(f"Total tables found: {len(tables)}")

Total tables found: 1

In [144]:
df=tables[0]
print(df.head())

  S.No.                      Industry No. of Companies Total Market Cap.  \
0    1.                  2/3 Wheelers               11            645407
1    2.          Abrasives & Bearings                8             91101
2    3.  Advertising & Media Agencies               18              4792
3    4.           Aerospace & Defense               25            820804
4    5.                       Airline                4            237077

  Avg Market Cap. Median P/E Avg Sales Growth Avg OPM Avg ROCE 1Y Return
0           58673         26               6%    -10%      11%      -19%
1           11388         57               4%     14%      15%      -26%
2             266         23             148%      5%      11%      -17%
3           32832         73              36%     21%      19%       11%
4           59269         32               0%     14%      18%        8%

In [145]:
print(df.columns)

Index(['S.No.', 'Industry', 'No. of Companies', 'Total Market Cap.',
       'Avg Market Cap.', 'Median P/E', 'Avg Sales Growth', 'Avg OPM',
       'Avg ROCE', '1Y Return'],
      dtype='object')

In [146]:
conn=sqlite3.connect('project.db')
c=conn.cursor()

In [147]:
c.execute(
    """CREATE TABLE pro1('S.No.'int, 'Industry' text, 'No. of Companies' int, 'Total Market Cap.'int,
       'Avg Market Cap.'int, 'Median 'int, 'Avg Sales Growth'int, 'Avg OPM'int,
       'Avg ROCE'int, '1Y Return'int);""")

OperationalError: table pro1 already exists

In [148]:
def rsql(query):
    return pd.read_sql_query(query,conn)

In [149]:
df.head()

,S.No.,Industry,No. of Companies,Total Market Cap.,Avg Market Cap.,Median P/E,Avg Sales Growth,Avg OPM,Avg ROCE,1Y Return
0,1.,2/3 Wheelers,11,645407,58673,26,6%,-10%,11%,-19%
1,2.,Abrasives & Bearings,8,91101,11388,57,4%,14%,15%,-26%
2,3.,Advertising & Media Agencies,18,4792,266,23,148%,5%,11%,-17%
3,4.,Aerospace & Defense,25,820804,32832,73,36%,21%,19%,11%
4,5.,Airline,4,237077,59269,32,0%,14%,18%,8%

In [150]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   S.No.              203 non-null    object
 1   Industry           203 non-null    object
 2   No. of Companies   203 non-null    object
 3   Total Market Cap.  203 non-null    object
 4   Avg Market Cap.    203 non-null    object
 5   Median P/E         203 non-null    object
 6   Avg Sales Growth   203 non-null    object
 7   Avg OPM            203 non-null    object
 8   Avg ROCE           203 non-null    object
 9   1Y Return          203 non-null    object
dtypes: object(10)
memory usage: 16.0+ KB

In [151]:
df.to_sql('pro1',conn,if_exists="replace",index=False)

203

In [152]:
rsql('SELECT*FROM pro1 WHERE "Avg Sales Growth">10')

,S.No.,Industry,No. of Companies,Total Market Cap.,Avg Market Cap.,Median P/E,Avg Sales Growth,Avg OPM,Avg ROCE,1Y Return
0,1.,2/3 Wheelers,11,645407,58673,26,6%,-10%,11%,-19%
1,2.,Abrasives & Bearings,8,91101,11388,57,4%,14%,15%,-26%
2,3.,Advertising & Media Agencies,18,4792,266,23,148%,5%,11%,-17%
3,4.,Aerospace & Defense,25,820804,32832,73,36%,21%,19%,11%
4,6.,Airport & Airport services,2,99877,49939,13,16%,22%,20%,-35%
...,...,...,...,...,...,...,...,...,...,...
169,187.,Waste Management,14,11368,812,26,39%,22%,22%,-1%
170,188.,Water Supply & Management,7,24550,3507,29,11%,20%,23%,-22%
171,189.,Web based media and service,3,1315,438,29,43%,16%,28%,-30%
172,190.,Wellness,2,789,395,7,10%,3%,-6%,-22%
173,191.,Zinc,2,184090,92045,36,23%,36%,42%,-36%

In [153]:
rsql("""SELECT "Industry", SUM("Total Market Cap.")
FROM pro1 GROUP BY "Industry";""")

                         Industry  SUM("Total Market Cap.")
0                    2/3 Wheelers                  645407.0
1            Abrasives & Bearings                   91101.0
2    Advertising & Media Agencies                    4792.0
3             Aerospace & Defense                  820804.0
4                         Airline                  237077.0
..                            ...                       ...
187              Waste Management                   11368.0
188     Water Supply & Management                   24550.0
189   Web based media and service                    1315.0
190                      Wellness                     789.0
191                          Zinc                  184090.0

[192 rows x 2 columns]

In [154]:
rsql("""SELECT * FROM pro1 
ORDER BY "Avg Market Cap." DESC;""")

,S.No.,Industry,No. of Companies,Total Market Cap.,Avg Market Cap.,Median P/E,Avg Sales Growth,Avg OPM,Avg ROCE,1Y Return
0,S.No.,Industry,No. of Companies,Total Market Cap.,Avg Market Cap.,Median P/E,Avg Sales Growth,Avg OPM,Avg ROCE,1Y Return
1,S.No.,Industry,No. of Companies,Total Market Cap.,Avg Market Cap.,Median P/E,Avg Sales Growth,Avg OPM,Avg ROCE,1Y Return
2,S.No.,Industry,No. of Companies,Total Market Cap.,Avg Market Cap.,Median P/E,Avg Sales Growth,Avg OPM,Avg ROCE,1Y Return
3,S.No.,Industry,No. of Companies,Total Market Cap.,Avg Market Cap.,Median P/E,Avg Sales Growth,Avg OPM,Avg ROCE,1Y Return
4,S.No.,Industry,No. of Companies,Total Market Cap.,Avg Market Cap.,Median P/E,Avg Sales Growth,Avg OPM,Avg ROCE,1Y Return
...,...,...,...,...,...,...,...,...,...,...
198,140.,Power Distribution,1,105292,105292,47,43%,30%,10%,-14%
199,84.,Industrial Gases,7,72298,10328,57,44%,12%,10%,31%
200,22.,Cigarettes & Tobacco Products,7,71912,10273,23,19%,-19%,14%,12%
201,32.,Consumer Electronics,22,222948,10134,31,22%,6%,-63%,1%
202,112.,Other Bank,9,90946,10105,19,20%,-45%,7%,-18%

In [155]:
rsql("""SELECT * FROM pro1 
LIMIT 5;""")

,S.No.,Industry,No. of Companies,Total Market Cap.,Avg Market Cap.,Median P/E,Avg Sales Growth,Avg OPM,Avg ROCE,1Y Return
0,1.,2/3 Wheelers,11,645407,58673,26,6%,-10%,11%,-19%
1,2.,Abrasives & Bearings,8,91101,11388,57,4%,14%,15%,-26%
2,3.,Advertising & Media Agencies,18,4792,266,23,148%,5%,11%,-17%
3,4.,Aerospace & Defense,25,820804,32832,73,36%,21%,19%,11%
4,5.,Airline,4,237077,59269,32,0%,14%,18%,8%

In [156]:
rsql("""SELECT "Industry" AS Sector, "1Y Return" AS Annual_Return FROM pro1;""")

                           Sector Annual_Return
0                    2/3 Wheelers          -19%
1            Abrasives & Bearings          -26%
2    Advertising & Media Agencies          -17%
3             Aerospace & Defense           11%
4                         Airline            8%
..                            ...           ...
198              Waste Management           -1%
199     Water Supply & Management          -22%
200   Web based media and service          -30%
201                      Wellness          -22%
202                          Zinc          -36%

[203 rows x 2 columns]

In [157]:
rsql("""SELECT "Industry", COUNT(*) AS rows FROM pro1 GROUP BY "Industry" HAVING COUNT(*) > 1;""")

   Industry  rows
0  Industry    12

In [158]:
rsql("""SELECT * FROM pro1 WHERE "Avg Market Cap." BETWEEN 10000 AND 50000;""")

,S.No.,Industry,No. of Companies,Total Market Cap.,Avg Market Cap.,Median P/E,Avg Sales Growth,Avg OPM,Avg ROCE,1Y Return
0,2.,Abrasives & Bearings,8,91101,11388,57,4%,14%,15%,-26%
1,3.,Advertising & Media Agencies,18,4792,266,23,148%,5%,11%,-17%
2,4.,Aerospace & Defense,25,820804,32832,73,36%,21%,19%,11%
3,6.,Airport & Airport services,2,99877,49939,13,16%,22%,20%,-35%
4,7.,Aluminium,16,187698,11731,17,25%,5%,16%,12%
...,...,...,...,...,...,...,...,...,...,...
122,183.,Trading & Distributors,197,67125,341,39,210%,-45%,3%,91%
123,185.,TV Broadcasting & Software Production,20,50326,2516,28,8%,1%,1%,-6%
124,188.,Water Supply & Management,7,24550,3507,29,11%,20%,23%,-22%
125,189.,Web based media and service,3,1315,438,29,43%,16%,28%,-30%
126,190.,Wellness,2,789,395,7,10%,3%,-6%,-22%

In [159]:
rsql("""SELECT AVG("Avg Market Cap.") AS avgcap, SUM("Total Market Cap.") AS totalcap, COUNT(*) AS totalrows FROM pro1;""")

         avgcap    totalcap  totalrows
0  17625.891626  46448590.0        203

In [160]:
rsql("""SELECT DISTINCT "Industry" FROM pro1;""")

                         Industry
0                    2/3 Wheelers
1            Abrasives & Bearings
2    Advertising & Media Agencies
3             Aerospace & Defense
4                         Airline
..                            ...
187              Waste Management
188     Water Supply & Management
189   Web based media and service
190                      Wellness
191                          Zinc

[192 rows x 1 columns]

In [161]:
rsql("""SELECT * FROM pro1 
WHERE "Industry" LIKE '%Media%';""")

,S.No.,Industry,No. of Companies,Total Market Cap.,Avg Market Cap.,Median P/E,Avg Sales Growth,Avg OPM,Avg ROCE,1Y Return
0,3.,Advertising & Media Agencies,18,4792,266,23,148%,5%,11%,-17%
1,38.,"Depositories, Clearing Houses and Other Interm...",4,78976,19744,58,28%,44%,39%,16%
2,54.,Electronic Media,5,453,91,221,-6%,-11%,-36%,-18%
3,102.,Media & Entertainment,23,37503,1631,48,136%,-1%,8%,-10%
4,144.,Print Media,8,8673,1084,15,-13%,8%,6%,5%
5,189.,Web based media and service,3,1315,438,29,43%,16%,28%,-30%